* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none; }

::placeholder {
  color: #c7c7c7; }

body {
  color: #FAFAFA;
  background-color: #001c33;
  font-family: Arial; }

h1 {
  text-align: center;
  margin-bottom: 3rem; }

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(to right, #00467F, #405c26);
  border-radius: 2rem;
  width: 45vw;
  margin: 5rem auto;
  padding: 5rem; }
  form div:not(.remember_me) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #FAFAFA;
    border-radius: 2rem;
    width: 100%;
    margin: 1rem 0;
    padding-left: 1rem; }
    form div:not(.remember_me) span {
      font-size: 1.3rem; }
    form div:not(.remember_me) input[type="text"], form div:not(.remember_me) input[type="password"] {
      color: #FAFAFA;
      background-color: rgba(0, 0, 0, 0);
      font-size: 1.3rem;
      border: none;
      width: 100%;
      height: 2.5rem;
      padding-left: .5rem; }
  form .remember_me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0; }
    form .remember_me input[type="checkbox"] {
      margin-right: .3rem; }
    form .remember_me p {
      font-size: 1.2rem;
      margin-right: .3rem; }
    form .remember_me span {
      font-size: 1.2rem; }
  form input[type="submit"] {
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0);
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 3rem 0 0;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: .3s ease 0s;
    border: 2px solid #FAFAFA;
    border-radius: 1rem; }
    form input[type="submit"]:hover {
      color: #222222;
      background-color: #FAFAFA; }
